@charset "ISO-8859-1";

.header{
	margin:20px 40px;
	display:flex;
	justify-content: space-between;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown:hover .content {
  display: block;
}

.content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}

.content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.content {
display: none;
position: absolute;
width: 100%;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.info{
	height:820px;
}

.about{
	display:flex;
	justify-content:center;
}

.links{
	display:flex;
	justify-content:space-evenly;
}

footer{
	text-align: center;
  	padding: 3px;
  	background-color: #121e30;
  	color: white;
}